﻿<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
   xmlns:font="http://schemas.android.com/apk/res-auto"
   android:layout_width="match_parent"
    android:layout_height="wrap_content"
     android:background="@android:color/transparent">
  <com.szugyi.circlemenu.view.CircleLayout
      android:id="@+id/main_circle_layout"
      android:layout_alignParentBottom="true"
      android:layout_width="400dp"
      android:layout_height="200dp">
    <com.szugyi.circlemenu.view.CircleImageView
    android:id="@+id/charityImage"
    android:tag="Charity"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:src="@drawable/Hjerte" />
    <com.szugyi.circlemenu.view.CircleImageView
    android:id="@+id/savingsImage"
    android:tag="Savings"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:src="@drawable/Sparegris" />
    <com.szugyi.circlemenu.view.CircleImageView
      android:id="@+id/offersImage"
      android:tag="Offers"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:src="@drawable/Procent" />
    <com.szugyi.circlemenu.view.CircleImageView
     android:id="@+id/mynobaddaysImage"
     android:tag="Profile"
     android:layout_width="30dp"
     android:layout_height="30dp"
     android:src="@drawable/Profil" />
    <com.szugyi.circlemenu.view.CircleImageView
       android:id="@+id/mapImage"
       android:tag="Map"
       android:layout_width="wrap_content"
       android:layout_height="wrap_content"
       android:src="@drawable/Marker" />
    <com.szugyi.circlemenu.view.CircleImageView
     android:id="@+id/communityImage"
     android:tag="Community"
     android:layout_width="wrap_content"
     android:layout_height="wrap_content"
     android:src="@drawable/Kontakter" />
    <com.szugyi.circlemenu.view.CircleImageView
        android:id="@+id/infoImage"
        android:tag="Info"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:src="@drawable/Information" />
    <com.szugyi.circlemenu.view.CircleImageView
        android:id="@+id/winImage"
        android:tag="Win"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:src="@drawable/Praemie" />
   </com.szugyi.circlemenu.view.CircleLayout>
  <ImageView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@+id/main_circle_layout"
        android:layout_marginTop="-285dp"
        android:layout_centerHorizontal="true"
         android:visibility="gone"
        android:id="@+id/skin"
        android:src="@drawable/redarrow" />
    <NoBadDays.helpers.CustomTextView
        android:id="@+id/centerText"
        android:layout_centerHorizontal="true"
        android:layout_above="@+id/main_circle_layout"
        android:layout_marginBottom="-30dp"
        android:gravity="center"
        android:textSize="20sp"
        android:padding="2dp"
        android:singleLine="false"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textColor="@color/ultradarkgrey"
        android:background="@android:color/transparent"
        font:customFont="Fonts/Roboto/Roboto-Bold.ttf"/>
</RelativeLayout>



